@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

:root {
  --primary-color: #67e754;
  --secundary-color: #709983;
  --tertiary-color: #c1efd7;
  --white: #f3f3f3;
  --teste: #5AF738;
}
